@tailwind base;
@tailwind components;
@tailwind utilities;

/* Changer la police d'écriture en Arial */
body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: 400; /* Réduire légèrement l'épaisseur du texte */
}


#search {
    margin-bottom: 10px;
    width: 20%;
    border-radius: 4px;
}

#addContactBtn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#contactModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#addContactModal {
    background: white;
    margin: 100px auto;
    padding: 20px;
    width: 40%;
}

#deleteModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#deleteModalFrame {
    border-radius: 8px;
    background: white;
    margin: 100px auto;
    padding: 20px;
    width: 40%;
}

.fa-exclamation-triangle {
    color: red;
}

#deleteButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#cancelDelete {
    margin-right: 10px;
    background-color: #ced4da;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#confirmDelete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#viewContactModal {
    display: none;
}

#contactName {
    display: flex;
    justify-content: space-between;
}

#contactLocation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input #firstName, #lastName, #postalCode, #city {
    width: 50%;
}


input #status {
    width: 100%;
    margin-top: 10px;
}

button #submit {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

button #close {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

.alert-danger, .alert-success {
    margin-top: 10px;
}

.table-container {
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden; /* Permet de masquer tout dépassement au-delà de la bordure arrondie */
}



/* Styles CSS pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden; /* Ajout pour masquer les débordements dans le tableau */
}

/* Styles CSS pour les en-têtes de colonnes */
th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #5A5655;
    background-color: #E8F8F5;
}



tr {
    border: solid 1px black;
    border-right: none;
}

/* Styles CSS pour les cellules de données */
td {
    padding: 8px;
    text-align: left;
    /* Suppression de la bordure droite pour enlever le séparateur vertical */
    border-right: none;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    background-color: white;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.action-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}
.action-buttons button:hover {
    opacity: 0.7;
}


.fa-eye, .fa-edit {
    color: #5A5655;
}

.fa-trash {
    color: red;
}
.status {
    padding: 3px 8px;
    margin-top: 7px;
    border-radius: 5px;
    display: inline-block;
    border: none; /* Suppression de la bordure */
}


.status-lead {
    background-color: #d0e7ff;
    color: #1c7ed6;
}
.status-client {
    background-color: #d3f9d8;
    color: #37b24d;
}
.status-prospect {
    background-color: #fff3bf;
    color: #f08c00;
}

#paginationInfo {
    margin-top: 10px;
    text-align: left; /* Aligner le texte à gauche */
    padding-left: 15px; /* Ajouter un peu d’espace à gauche */
}
